.card {
  width: 240px;
  height: 254px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  background: #fff;
  border-radius: 20px;
}

.card > * {
  margin: 0;
}

.card__title {
  font-size: 23px;
  font-weight: 900;
  color: #333;
}

.card__content {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.card__form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card__form button {
  border: 0;
  color: black;
  background-color: white;
  border: solid 2px black;
  padding: 10px 20px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
}

.card__form button:hover {
  opacity: 0.8;
  background: #111;
  color: white;
} 
