.npc__fences, .npc__container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.npc__fences {
    z-index: -1;
}

.npc__fence img {
    width: 100%;
    height: 100%;
}

.npc-fences {
    z-index: -1;
}

.npc__fence-1,
.npc__fence-2,
.npc__fence-3 {
    position: relative;
    top: 0;
    left: 0;
    position: relative;
    width: 100px;
}
.npc__fence-1-2 {
    margin-left: -5px;
}
.npc__fence-2 {
    margin-right: -5px;
}
.npc__fence-3-2,
.npc__fence-3-3 {
    margin-left: -5px;
}

.npc__fence-group-1,
.npc__fence-group-2,
.npc__fence-group-3 {
    position: relative;
    display: flex;
    width: fit-content;
}
.npc__fence-group-1 {
    top: 25%;
}
.npc__fence-group-2 {
    top: 35%;
    left: 90%;
}
.npc__fence-group-3 {
    top: 60%;
}


.npc--pos-1 {
    top: 20%;
    left: 6%;
}
.npc--pos-2 {
    top: 36%;
    left: 91%;
    transform: rotateY(180deg);
}
.npc--pos-3 {
    top: 67.5%;
    left: 10%;
}


.npc {
    height: 78px;
    position: absolute;
    width: 56px;
    z-index: -3;
    background-image: url('../assets/npc.png');
    background-size: 193px;
    background-position: 0 0;
}

.npc--skin-arthur {
    background-image: url('../assets/arthur.png');
    background-size: 62px;
    height: 163px;
    width: 64px;
    top: 14%;
}

.npc--skin-1 {
    background-position: -39px -13px;
}
.npc--skin-2 {
    background-position: 92px -13px;
}
.npc--skin-3 {
    background-position: 91px -94px;
}
.npc--skin-4 {
    background-position: -34px -93px;
}