.horse {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 200px;
    cursor: pointer;
}

.horse--1 {
    background-image: url('../assets/horse.png');
    background-size: 354px;
    width: 300px;
}
.horse__lock--1 {
    position: relative;
    top: 10%;
    left: 9%;
    transform: translate(-50%, -50%);
}
.horse__container--1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 35%;
    left: 74%;
}

.horse--2 {
    background-image: url('../assets/horse2.png');
    width: 240px;
    background-size: 373px;
    background-position-x: -70px;
}
.horse__lock--2 {
    top: 9%;
    left: 3%;
}
.horse__container--2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 37%;
    left: 15%;
}

.horse--3 {
    background-image: url('../assets/horse3.png');
    width: 230px;
    background-size: 355px;
    background-position-x: -60px;
}
.horse__lock--3 {
    top: 8%;
    left: 4%;
}
.horse__container--3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 32%;
    left: 27%;
}

.horse--locked {
    filter: grayscale(100%);
    filter: brightness(10%);
}

.horse__lock {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;

    filter: grayscale(0%);
    filter: brightness(100%);
}

.horse__unlock-button {
    position: relative;
    bottom: -30px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

.horse__name-tag {
    width: 102px;
    z-index: 2;
    position: relative;
    display: none;
}
.horse__name-tag--1 {
    left: 30px;
    rotate: 30deg;
    top: 53px;
}
.horse__name-tag--2 {
    rotate: -30deg;
    top: 80px;
    left: 110px;
}
.horse__name-tag--3 {
    rotate: -20deg;
    left: 115px;
    top: 59px;
}

.horse__name {
    position: relative;
    z-index: 3;
    display: none;
    font-size: 14px; 
    color: black;
    text-shadow: 1px 1px 2px black;
    transform-origin: 0 0;
    width: fit-content;
}
.horse__name--1 {
    transform: rotate(-59deg);
    left: 50px;
    top: 34px;
}
.horse__name--2 {
    left: 166px;
    transform: rotate(60deg);
    top: 16px;
}
.horse__name--3 {
    left: 174px;
    transform: rotate(69deg);
}


.stable__back {
    position: absolute;
    top: 340px;
    left: 810px;
    width: 300px;
    height: 380px;
    z-index: 100;
    box-shadow: 0 0 40px rgba(255, 255, 255, .8),
                inset 0 0 40px rgba(255, 255, 255, .8);
    border-radius: 5px;
    

    transition: all 0.3s ease;
}

.stable__back:hover {
    box-shadow: 0 0 60px rgba(255, 255, 255, 1),
                inset 0 0 60px rgba(255, 255, 255, 1);
}

@keyframes horseSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(3600deg); } 
}

.horse.spinning {
    animation: horseSpin 3s forwards !important;
}